@media screen and (max-width: 600px) {
  nav a {
    display: none;
  }
  nav a.icon {
    display: block;
    float: right;
  }

  nav.responsive {
    position: relative;
  }
  nav.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
  }

  nav.responsive a {
    display: block;
    text-align: left;
  }

  nav {
    padding: 0;
  }

  nav.responsive {
    position: fixed;
  }

  #hide-small {
    display: none;
  }

  .typewriter h1 {
    font-size: 1.3rem;
    animation: typing 1.2s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  .top-resume-btn {
    right: auto;
  }

  .home-container,
  .experience-container {
    background-attachment: initial;
  }

  .main-about {
    flex-direction: column;
  }

  .about-box {
    width: 250px;
  }

  .about-box p {
    font-size: 1rem;
  }

  .me img,
  .single-skating img,
  .pairs-skating img {
    width: 250px;
  }

  .top-exp {
    display: block;
  }

  .top-pro {
    display: block;
  }
}

@media screen and (max-width: 280px) {
  .about-box {
    width: 200px !important;
  }

  .about-box p {
    font-size: 0.7rem;
  }

  .top-exp,
  .top-pro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-exp button,
  .top-pro button {
    margin: 40px 0 !important;
  }

  .bot-exp,
  .bot-pro {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .bot-exp img,
  .bot-pro img {
    width: 100px;
  }

  .shad {
    width: 200px !important;
  }

  #shrink-journal {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 900px) {
  nav a {
    display: none;
  }
  nav a.icon {
    display: block;
    float: right;
  }

  nav.responsive {
    position: relative;
  }
  nav.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
  }

  nav.responsive a {
    display: block;
    text-align: left;
  }

  nav {
    padding: 0;
  }

  nav.responsive {
    position: fixed;
  }

  .home-container,
  .experience-container {
    background-attachment: initial;
  }

  .main-about {
    flex-direction: column;
  }

  .about-box p {
    font-size: 1rem;
  }

  .me img,
  .single-skating img,
  .pairs-skating img {
    width: 250px;
  }

  .top-exp {
    display: block;
  }

  .top-pro {
    display: block;
  }
}
