@media screen and (max-width: 600px) {
    nav a {display: none;}
    nav a.icon {
      display: block;
      float: right;
    }

    nav.responsive {position: relative;}
    nav.responsive a.icon {
      position: fixed;
      right: 0;
      top: 0;
    }

    nav.responsive a {
      display: block;
      text-align: left;
    }

    nav {
        padding: 0;
    }

    nav.responsive {
      position: fixed;
    }

    .about-container {
      flex-direction: column;
    }

    .about-box {
      width: 300px;
      height: auto;
    }

    .about-box p {
      font-size: 1rem;
    }

    .me img {
      width: 150px;
      height: auto;
    }
}