@media screen and (max-width: 600px) {
    nav a {display: none;}
    nav a.icon {
      display: block;
      float: right;
    }
    nav.responsive {position: relative;}
    nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    nav {
        padding: 0;
    }
}