@media screen and (max-width: 600px) {
    nav a {display: none;}
    nav a.icon {
      display: block;
      float: right;
    }

    nav.responsive {position: relative;}
    nav.responsive a.icon {
      position: fixed;
      right: 0;
      top: 0;
    }

    nav.responsive a {
      display: block;
      text-align: left;
    }

    nav {
        padding: 0;
    }

    nav.responsive {
      position: fixed;
    }

    .about-container {
      flex-direction: column;
    }

    .about-box {
      width: 250px;
    }

    .about-box p {
      font-size: 1rem;
    }

    .me img {
      width: 250px;
    }

    .top-exp {
      display: block;
    }

    .top-pro {
      display: block;
    }
}

@media screen and (max-width: 280px) {
  .about-box {
    width: 200px;
  }

  .about-box p {
    font-size: 0.7rem;
  }

  .top-exp, .top-pro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-exp button, .top-pro button {
    margin: 40px 0 !important;
  }

  .bot-exp, .bot-pro {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .bot-exp img, .bot-pro img {
    width: 100px;
  }

  .shad {
    width: 200px !important;
  }
}