@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap"); */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-darkBg: #111827;
  --color-darkFill: #1f2937;
  --color-lightBg: #d1d5db;
  --color-lightFill: #bac3d2;

  --animate-blink: blink-caret 1s step-end infinite;

  @keyframes blink-caret {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: currentColor;
    }
  }
}

html {
  min-width: 320px;
  scroll-behavior: smooth !important;
}

ol {
  list-style: decimal;
  padding-left: 2rem;
}

#show-nav-mobile {
  display: block !important;
}

.card::before {
  border-radius: inherit;
  content: "";
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: opacity 500ms;
}

.card:hover::before {
  opacity: 1;
}

#card0::before {
  background: var(--background);
}

#card1::before {
  background: var(--background);
}

#card2::before {
  background: var(--background);
}

#card3::before {
  background: var(--background);
}

#card4::before {
  background: var(--background);
}

.mobile-links {
  clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(100px at 90% -10%);
  transition: all 1s ease-out;
}

.mobile-links-open {
  clip-path: circle(700px at 90% -10%);
  -webkit-clip-path: circle(700px at 90% -10%);
}

.markdown a {
  text-decoration: underline;
  color: #43b2ca;
}
