@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hubot Sans";
  src: url("../public/assets/Hubot-Sans.woff2")
      format("woff2 supports variations"),
    url("../public/assets/Hubot-Sans.woff2") format("woff2-variations");
  font-weight: 400 900;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

html {
  font-family: "Hubot Sans";
  min-width: 320px;
  scroll-behavior: smooth !important;
}

#show-nav-mobile {
  display: block !important;
}

.card::before {
  border-radius: inherit;
  content: "";
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: opacity 500ms;
}

.card:hover::before {
  opacity: 1;
}

#card0::before {
  background: var(--background);
}

#card1::before {
  background: var(--background);
}
