@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hubot Sans";
  src: url("../public/assets/Hubot-Sans.woff2")
      format("woff2 supports variations"),
    url("../public/assets/Hubot-Sans.woff2") format("woff2-variations");
  font-weight: 400 900;
}

html {
  font-family: "Hubot Sans";
  min-width: 320px;
  scroll-behavior: smooth;
}
